@model BulmaTutorial.Models.BulmaExample

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>
<body style="height: 1000px;" class="has-background-primary-light">
    <h1 class="hero is-warning title is-1">Details</h1>
    <div>   
        <hr />
        <div class="columns">
            <div class="column is-one-third has-background-danger-light">
                <h1 class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Food)</h1>
                @Html.DisplayFor(model => model.Food)
            </div>
            <div class="column is-one-third has-background-danger">
                <h1 class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Category)</h1>
                @Html.DisplayFor(model => model.Category)
</div>
            <div class="column is-one-third has-background-danger-light">
                <h1 class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Brand)</h1>
                @Html.DisplayFor(model => model.Brand)
</div>
            <div class="column is-one-third has-background-danger">
                <h1 class="has-text-weight-bold">@Html.DisplayNameFor(model => model.Cost)</h1>
                @Html.DisplayFor(model => model.Cost)
</div>
        </div>
    </div>
    <div>
        <a class="button is-warning" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a class="button is-info" asp-action="Index">Cancel</a>
    </div>
    </body>
    </html>